DB_HOST=
DB_NAME=attendance_db
DB_USERNAME=
DB_PASSWORD=
MANUAL_ATTENDANCE_PASSWORD=
ADMIN_PASSWORD=

# Email configuration
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=